@import './mixin';

body {
  font-size: 14px;
  color: map-get($colors, 'body');
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}

textarea,
input {
  border-radius: 10px;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
}

.conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.submit-button {
  display: block;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 12px;
  font-family: inherit;
  border-radius: 10px;
  color: #131313;
  background-color: #f8d24e;
  margin: 0 auto;
  padding: 12px 34px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  max-width: 480px;
  @include tablet {
    min-width: 768px;
  }
  @include desktop {
    min-width: 1200px;
  }
  margin: 0 auto;
  padding: 0 15px;
}
