@import '../mixin';
@import '../setup';

.contacts-btn {
  width: 196px;
  height: 42px;
  color: getColor('body');
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  background: getColor('primary');
  border: none;
  cursor: pointer;
  transition-property: color, background, fill;
  transition-duration: getColor('transition-duration');
  transition-timing-function: getColor('timing-function');
  &:hover {
    background: getColor('background-header');
  }
  &:focus {
    color: getColor('background_address');
    fill: getColor('background_address');
    background: #0a8817;
  }
  &:disabled {
    color: #131313;
    background: #ababab;
  }
  &__append {
    width: 12px;
  }
}

.contacts-btn-2 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  display: flex;
  width: 196px;
  height: 42px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: none;
  transition-property: color, background, fill;
  transition-duration: getColor('transition-duration');
  transition-timing-function: getColor('timing-function');
  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    color: getColor('background_address');
    fill: getColor('background_address');
    border-color: #0a8817;
  }
  &:disabled {
    border-color: #ababab;
  }
}

.header__button {
  color: #f8d24e;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  background: none;
  border: none;
  transition-property: color;
  transition-duration: getColor('transition-duration');
  transition-timing-function: getColor('timing-function');
  &:hover {
    color: #0a8817;
  }
  &:focus {
    color: getColor('background_address');
  }
  &:disabled {
    color: #ababab;
  }
}

.header__btn {
  fill: #ababab;
}
.got {
  display: block;
}
