<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">Contacts</h2>
    <div class="grid-container">
      <div class="item">
        <div>
          <span class="contacts__name">cafe</span>
        </div>
        <address class="contacts__address">
          <span class="city">Chicago</span> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </address>
        <svg class="border" height="2px">
          <use href="./images/icons-svg.svg#icon-border-desktop1"></use>
        </svg>
        <ul class="contacts__schedule">
          <li class="days">Monday-Friday</li>
          <li class="hours">06:00 AM - 10:00 PM</li>
          <li class="days">Saturday-Sunday</li>
          <li class="hours">08:00 AM - 16:00 PM</li>
        </ul>
        <svg class="border" height="2px">
          <use href="./images/icons-svg.svg#icon-border-desktop2"></use>
        </svg>
        <div class="contacts__links">
          <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
      <div class="item">
        <div>
          <span class="contacts__name">foodtruck</span>
        </div>
        <address class="contacts__address">
          <span class="city">Los Angeles</span> 1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </address>
        <svg class="border" height="2px">
          <use href="./images/icons-svg.svg#icon-border-desktop1"></use>
        </svg>
        <ul class="contacts__schedule">
          <li class="days">Monday-Friday</li>
          <li class="hours">06:00 AM - 10:00 PM</li>
          <li class="days">Saturday-Sunday</li>
          <li class="hours">08:00 AM - 16:00 PM</li>
        </ul>
        <svg class="border" height="2px">
          <use href="./images/icons-svg.svg#icon-border-desktop2"></use>
        </svg>
        <div class="contacts__links">
          <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
      <div class="item">
        <div>
          <span class="contacts__name">cafe</span>
        </div>
        <address class="contacts__address">
          <span class="city">New York</span> 726 Sterling Pl, Brooklyn, NY 11222, USA
        </address>
        <svg class="border" height="2px">
          <use href="./images/icons-svg.svg#icon-border-desktop1"></use>
        </svg>
        <ul class="contacts__schedule">
          <li class="days">Monday-Friday</li>
          <li class="hours">06:00 AM - 10:00 PM</li>
          <li class="days">Saturday-Sunday</li>
          <li class="hours">08:00 AM - 16:00 PM</li>
        </ul>
        <svg class="border" height="2px">
          <use href="./images/icons-svg.svg#icon-border-desktop2"></use>
        </svg>
        <div class="contacts__links">
          <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="contacts-btn data-modal-open-location" type="button" data-modal-open>
        Our Locations
        <svg class="contacts-btn__append" widht="12px" height="12px">
          <use href="./images/icons-svg.svg#icon-Vector-button"></use>
        </svg></button
      ><button class="contacts-btn-2 data-modal-open" type="button" data-modal-open-fran>
        Franchise
        <svg class="contacts-btn__append" widht="12px" height="12px">
          <use href="./images/icons-svg.svg#icon-Vector-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
