<section class="opinions">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <ul class="opinions__list">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/gallery/photo-1-Mobile@x1.png 1x,
                    ./images/gallery/photo-1-Mobile@x2.png 2x
                  "
                  media="(max-width: 479px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-1-480@x1.png 1x,
                    ./images/gallery/photo-1-480@x2.png 2x
                  "
                  media="(min-width: 480px) and (max-width:767px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-1-Tablet@x1.png 1x,
                    ./images/gallery/photo-1-Tablet@x2.png 2x
                  "
                  media="(min-width: 768px) and (max-width:1199px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-1-Desktop@x1.png 1x,
                    ./images/gallery/photo-1-Desktop@x2.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  class="opinions__gallery"
                  alt="our ice cream gallery"
                  src="./images/gallery/photo-1-Mobile@x1.png"
                />
              </picture>
            </li>
            <li>
              <img
                scrset="./images/customers/customer-lady@x2.png 2x,./images/customers/customer-lady@x1.png 1x"
                src="./images/customers/customer-lady@x1.png"
                alt="customer lady picture"
                class="opinions__picture1"
              />
            </li>
            <li>
              <p class="opinions__paragraph">
                I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles!
                In addition, you have beautiful serving, cozy atmosphere and polite staff.
              </p>
            </li>
            <li><h3 class="opinions__header">Emily, Los Angeles</h3></li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="opinions__list">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/gallery/photo-2-Mobile@x1.png 1x,
                    ./images/gallery/photo-2-Mobile@x2.png 2x
                  "
                  media="(max-width: 479px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-2-480@x1.png 1x,
                    ./images/gallery/photo-2-480@x2.png 2x
                  "
                  media="(min-width: 480px) and (max-width:767px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-2-Tablet@x1.png 1x,
                    ./images/gallery/photo-2-Tablet@x2.png 2x
                  "
                  media="(min-width: 768px) and (max-width:1199px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-2-Desktop@x1.png 1x,
                    ./images/gallery/photo-2-Desktop@x2.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  class="opinions__gallery"
                  alt="our ice cream gallery"
                  src="./images/gallery/photo-2-Mobile@x1.png"
                />
              </picture>
            </li>

            <li>
              <img
                scrset="./images/customers/customer-men@x1.png 1x,
                ./images/customers/customer-men@x2.png 2x"
                src="./images/customers/customer-men@x1.png"
                alt="customer lady picture"
                class="opinions__picture2"
              />
            </li>
            <li>
              <p class="opinions__paragraph">
                Every day we come to you with friends after classes in college. We love your ice
                cream and casual atmosphere!
              </p>
            </li>
            <li><h3 class="opinions__header">Bryan, New-York</h3></li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="opinions__list">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/gallery/photo-3-Mobile@x1.png 1x,
                    ./images/gallery/photo-3-Mobile@x2.png 2x
                  "
                  media="(max-width: 479px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-3-480@x1.png 1x,
                    ./images/gallery/photo-3-480@x2.png 2x
                  "
                  media="(min-width: 480px) and (max-width:767px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-3-Tablet@x1.png 1x,
                    ./images/gallery/photo-3-Tablet@x2.png 2x
                  "
                  media="(min-width: 768px) and (max-width:1199px)"
                />
                <source
                  srcset="
                    ./images/gallery/photo-3-Desktop@x1.png 1x,
                    ./images/gallery/photo-3-Desktop@x2.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  class="opinions__gallery"
                  alt="our ice cream gallery"
                  src="./images/gallery/photo-3-Mobile@x1.png"
                />
              </picture>
            </li>
            <li>
              <img
                scrset="./images/customers/customer-girl@x1.png 1x,
                ./images/customers/customer-girl@x2.png 2x"
                src="./images/customers/customer-girl@x1.png"
                alt="customer lady picture"
                class="opinions__picture3"
              />
            </li>
            <li>
              <p class="opinions__paragraph">
                Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like
                the excellent service - always served politely and quickly!
              </p>
            </li>
            <li><h3 class="opinions__header">Diana, Chicago</h3></li>
          </ul>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.mySwiper', {
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
</section>
