<footer>
  <div class="footer-container container">
    <div class="footer-container__box">
      <h3 class="footer-container__hedling">homemade ice cream made</h3>
      <p class="footer-container__text">with passion</p>
    </div>
    <div class="footer-container__box2">
      <ul class="footer-container__social">
        <li>
          <a href="https://github.com">
            <svg width="34px" height="34px" class="footer-container__svg">
              <use href="/src/images/icons-svg.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://web.telegram.org/a/" class="footer-container__svg">
            <svg width="34px" height="34px">
              <use href="/src/images/icons-svg.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com" class="footer-container__svg">
            <svg width="34px" height="34px">
              <use href="/src/images/icons-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div>
        <p class="footer-container__contacts">
          Feel free to contact<span class="footer-container__tel"> +61 (0) 383 766 284</span>
        </p>
      </div>
    </div>
    <ul class="footer-container__list">
      <li><p class="footer-container__text-2">© 2022 - IceCream</p></li>
      <li><p class="footer-container__text-2">All Rights Reserved.</p></li>
    </ul>
  </div>
</footer>
