<footer>
    <div class="footer_container">
        
        <div class="footer_container__button"></div>
        <div class="footer_container__button"></div>
    
        <div class="footer_container__text">
            <span class="footer_container__text--motto_1">homemade ice cream made</span>
        </div>
        <div class="footer_container__main">
            <p class="footer_container__main--motto_2">with passion</p>
        </div>
        
        <div class="footer_container__item"></div>
        <div class="footer_container__line"></div>
        <div class="footer_container__rights"></div>
    </div>
</footer>
