<footer>
    <div class="footer_container container">
        <div class="footer_container__item">
            <div class="footer_container__item--content">
                <span>homemade ice cream made</span>
                <p>with passion</p>
            </div>    
        </div>

        <div class="footer_container__item">
            <div class="footer_container__item--icons">
                <svg>
                    <use href="/src/images/icons-svg.svg#icon-github"></use>
                </svg>
                <svg>
                    <use href="/src/images/icons-svg.svg#icon-telegram"></use>
                </svg>
                <svg>
                    <use href="/src/images/icons-svg.svg#icon-facebook"></use>
                </svg>

            </div>
            <div class="footer_container__item--contacts">
                <span>Feel free to contact&nbsp;</span>
                <a href="tel:+610383766284">+61 (0) 383 766 284</a>
            </div>
        </div>
        <svg class="footer_container--line">
            <use href="/src/images/icons-svg.svg#icon-Vector-8"></use>
        </svg>
        <div class="footer_container__rights">
            <p>© 2022 - IceCream.&nbsp;</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>
