<header>
    <div class="container container--header">
      <nav class="header">
        <a href="#">
          <svg class="header__icon" width="32" height="32">
            <use href="./images/icons-svg.svg#icon-ice-crema"></use>
          </svg>
        </a>
        <!--icona LOGO musi zostac zmieniona-->
        <button
          type="button"
          class="toggle-btn js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="toggle-btn__icon" width="32" height="32">
            <use href="./images/icons-svg.svg#icon-menu-hambburger"></use>
          </svg>
        </button>
  
        <ul class="header__list">
          <li><a class="header__link" href="#">Home</a></li>
          <li><a class="header__link" href="#">How it's made?</a></li>
          <li><a class="header__link" href="#">Our products</a></li>
          <li><a class="header__link" href="#">Contacts</a></li>
        </ul>
        <button class="modal-btn modal-btn--modal-open" type="button" data-modal-open>
          Buy now >
        </button>
      </nav>
      <section class="section section--header">
        <div class="header2">
          <h1 class="header2__title">
            ice cream <br />
            made with <br />
            passion
          </h1>
          <ul class="header2__list">
            <li class="header2__number">16</li>
            <li class="header2__item">cafes</li>
            <li class="header2__number">23</li>
            <li class="header2__item">food trucks</li>
          </ul>
        </div>
        <div class="links">
          <a class="links__add links__add--border" href="#">Products</a>
          <a class="links__add links__add--underline" href="#">How it’s made?</a>
        </div>
        
        <img
          class="header2__picture"
          src="images/header/ice-creamMobile@x1.png"
          alt="rożek z gałkami lodów"
          srcset="
                images/header/ice-creamMobile@x1.png    177w;
                images/header/ice-creamMobile@x2.png    354w;
                images/header/ice-creamTablet@x1.png    268w;
                images/header/ice-creamTablet@x2.png    536w;
                images/header/ice-creamDesktop@x1.png   456w;
                images/header/ice-creamDesktop@x2.png   912w;
                 
                  "
          sizes="(min-width: 768px) 390px, (min-width: 1280px) 390px, 100vw"
        />
        <p class="header2__text">
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>
      </section>
    </div>
  </header>
  
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button type="button" class="menu-container__close-btn js-close-menu">
      <svg class="menu-container__icon-btn" width="32" height="32">
        <use href="./images/icons-svg.svg#icon-close-white"></use>
      </svg>
    </button>
    <ul class="mobile-menu">
      <li><a href="" class="mobile-menu__link">Home</a></li>
      <li><a href="" class="mobile-menu__link">How it's made?</a></li>
      <li><a href="" class="mobile-menu__link">Our products</a></li>
      <li><a href="" class="mobile-menu__link">Contacts</a></li>
    </ul>
    <button class="modal-btn modal-btn--modal-open" type="button" data-modal-open>Buy now ></button>
  </div>
  <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"
  ></script>
  <script src="./js/mobile-menu.js"></script>
  