<!-- <button type="submit" class="submit-button" data-modal-open-him>HIM</button> -->
<section class="modal-container is-hidden" data-modal-him>
  <div class="modal-him">
    <button type="button" class="franchise-button__close" data-modal-close-him>
      <svg width="24" height="24" class="modal-him__button--icon">
        <use href="./images/icons-svg.svg#icon-close-black"></use>
      </svg>
    </button>
    <h2 class="modal-him__title">How it’s made?</h2>
    <div class="modal-him__video">
      <svg class="modal-him__button--icon" width="36" height="36">
        <use href="./images/icons-svg.svg#icon-clarity_play-solid"></use>
      </svg>
    </div>
    <div class="modal-him__describe">
      <p class="modal-him__describe--text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et
      </p>
    </div>
  </div>
</section>
