<section id="made" class="how-its-made">
  <div class="how-its-made__container container">
    <div class="how-its-made__header">
    <p class="how-its-made__title-wrap">TRADITION AND LOVE</p>
    <h1 class="how-its-made__title">How it's made?</h1>
</div>
    <div class="how-its-made__box">
        <div class="how-its-made__background">
      <picture>
        <source
          srcset="./images/cow/cowMobile@x1.png 1x, ./images/cow/cowMobile@x2.png 2x"
          media="(max-width:767px)"
        />
        <source
          srcset="./images/cow/cowTablet@x1.png 1x, ./images/cow/cowTablet@x2.png 2x"
          media="(min-width: 768px) and (max-width:1199px)"
        />
        <source
          srcset="./images/cow/cowDesktop@x1.png 1x, ./images/cow/cowDesktop@x2.png 2x"
          media="(min-width: 1200px)"
        />
        <img
          class="how-its-made__picture"
          alt="cow eats grass"
          src="./images/cow/cowDesktop@x1.png"
        />
      </picture>
    </div>
      <div class="how-its-made__text-wrap">
        <ul class="how-its-made__list2">
        <li>
        <p class="how-its-made__text">
          Ice is a place where you will become not only a little happier, but also healthier. Health
          is the main value for us, and we follow it when creating our handmade desserts.
        </p>
    </li>
    <li>
        <p class="how-its-made__text2">
          We use traditional recipes and 100% natural ingredients. Our products are so natural that
          they can be given to children from the age of three years. Sweets lovers can expect 55
          types of ice cream, 15 types of coffee and 23 milkshakes.
        </p>
    </li>
    <li>
        <p class="how-its-made__text2">
          This is enough to choose ice cream and coffee for any mood!
        </p>
    </li>
    </ul>
      <button class="how-its-made__button" type="button">Read more ></button>
    </div>
    </div>
    <ul class="how-its-made__list">
      <li class="how-its-made__item">
        <svg class="how-its-made__icon" width="50" height="50">
          <use href="./images/icons-svg.svg#icon-cow"></use>
        </svg>
        <div class="how-its-made__statistics">721</div>
        <p class="how-its-made__info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="how-its-made__item how-its-made__item1">
        <svg class="how-its-made__icon" width="50" height="50">
          <use href="./images/icons-svg.svg#icon-weight"></use>
        </svg>
        <div class="how-its-made__statistics">16kg</div>
        <p class="how-its-made__info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="how-its-made__item">
        <svg class="how-its-made__icon" width="50" height="50">
          <use href="./images/icons-svg.svg#icon-ice-crema"></use>
        </svg>
        <div class="how-its-made__statistics">84</div>
        <p class="how-its-made__info">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
