<!-- <button type="button" class="submit-button" data-modal-open-location>location</button> -->
<section class="modal-container is-hidden" data-modal-location>
  <div class="modal-location">
    <button type="button" class="franchise-button__close" data-modal-close-location>
      <svg width="24" height="24" class="modal-him__button--icon">
        <use href="./images/icons-svg.svg#icon-close-black"></use>
      </svg>
    </button>
    <h2 class="modal-location__title">Our Locations</h2>
    <picture class="modal-location__picture">
      <source
        srcset="./images/modals/map-mobile.jpg x1"
        media="(max-width:767.9px)"
        type="image/jpg"
      />
      <source
        srcset="./images/modals/map-deskop.jpg x1"
        media="(min-width:768px)"
        type="image/jpg"
      />
      <img src="./images/modals/map-mobile.jpg" alt="map" width="448" />
    </picture>
    <button
      class="submit-button"
      type="button"
      onclick="location.href='https://www.google.com/maps/place/Poltava,+Poltava+Oblast,+Ukraine,+36000/@49.6021265,34.4748378,12z/data=!3m1!4b1!4m6!3m5!1s0x40d825e425e6ba6b:0xcf3e6bdfb9e4ca82!8m2!3d49.588267!4d34.5514169!16zL20vMDlsd2s?entry=ttu'"
    >
      Open Map
    </button>
  </div>
</section>
