<section class="modal-product js-menu-container-1">
  <div class="modal-product_box">
    <button type="button" class="modal-product_btn-svg js-close-menu-1">
      <svg class="modal-product_svg" width="24px" height="24px">
        <use href="./images/icons-svg.svg#icon-close-black"></use>
      </svg>
    </button>
    <h3 class="modal-product_heading">Chololate icecream</h3>
    <div class="modal-product_backgraund">
      <picture>
        <source srcset="./images/modals/modal-chocolate-ice-cream@x1.png" type="image/jpg" />
        <source srcset="./images/modals/modal-chocolate-ice-cream@x2.png" type="image/jpg" />
        <img src="./images/modals/modal-chocolate-ice-cream@x1.png" alt="ice screm" />
      </picture>
    </div>
    <ul class="modal-product_list">
      <li class="modal-product_item">
        <svg width="53px" height="53px" viewBox="0 0 93 93" class="modal-product_svg">
          <use href="./images/Elipse-modal.svg#icon-Ellipse-modal"></use>
          <g filter="url(#filter0_d_5393_158)">
            <circle cx="46.5" cy="40.5" r="26.5" fill="#9CBE8F" />
            <circle cx="46.5" cy="40.5" r="25.5" stroke="#9CBE8F" stroke-width="2" />
          </g>
          <defs>
            <filter
              x="0"
              y="0"
              width="93"
              height="93"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="6" />
              <feGaussianBlur stdDeviation="10" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0.0392157 0 0 0 0 0.533333 0 0 0 0 0.0901961 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_5393_158"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_5393_158"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <span class="modal-product_text">320</span>
        kcal
      </li>
      <li class="modal-product_item">
        <svg width="53px" height="53px" viewBox="0 0 93 93" class="modal-product_svg">
          <use href="./images/Elipse-modal.svg#icon-Ellipse-modal"></use>
          <g filter="url(#filter0_d_5393_158)">
            <circle cx="46.5" cy="40.5" r="26.5" fill="#9CBE8F" />
            <circle cx="46.5" cy="40.5" r="25.5" stroke="#9CBE8F" stroke-width="2" />
          </g>
          <defs>
            <filter
              x="0"
              y="0"
              width="93"
              height="93"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="6" />
              <feGaussianBlur stdDeviation="10" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0.0392157 0 0 0 0 0.533333 0 0 0 0 0.0901961 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_5393_158"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_5393_158"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <span class="modal-product_text">4g</span>
        Protein...
      </li>
      <li class="modal-product_item">
        <svg width="53px" height="53px" viewBox="0 0 93 93" class="modal-product_svg">
          <use href="./images/Elipse-modal.svg#icon-Ellipse-modal"></use>
          <g filter="url(#filter0_d_5393_158)">
            <circle cx="46.5" cy="40.5" r="26.5" fill="#9CBE8F" />
            <circle cx="46.5" cy="40.5" r="25.5" stroke="#9CBE8F" stroke-width="2" />
          </g>
          <defs>
            <filter
              x="0"
              y="0"
              width="93"
              height="93"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="6" />
              <feGaussianBlur stdDeviation="10" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0.0392157 0 0 0 0 0.533333 0 0 0 0 0.0901961 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_5393_158"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_5393_158"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <span class="modal-product_text">8,2g</span>
        Fats
      </li>
      <li class="modal-product_item">
        <svg width="53px" height="53px" viewBox="0 0 93 93" class="modal-product_svg">
          <use href="./images/Elipse-modal.svg#icon-Ellipse-modal"></use>
          <g filter="url(#filter0_d_5393_158)">
            <circle cx="46.5" cy="40.5" r="26.5" fill="#9CBE8F" />
            <circle cx="46.5" cy="40.5" r="25.5" stroke="#9CBE8F" stroke-width="2" />
          </g>
          <defs>
            <filter
              x="0"
              y="0"
              width="93"
              height="93"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="6" />
              <feGaussianBlur stdDeviation="10" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0.0392157 0 0 0 0 0.533333 0 0 0 0 0.0901961 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_5393_158"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_5393_158"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <span class="modal-product_text">40,4g</span>
        Carbs
      </li>
    </ul>
    <h3 class="modal-product_heading-2">Ingredients</h3>
    <table class="modal-product_table">
      <tbody>
        <tr class="modal-product_tr">
          <td class="modal-product_td">Milk</td>
          <td class="modal-product_td-2">100ml</td>
        </tr>
        <tr class="modal-product_tr">
          <td class="modal-product_td">Belgian chocolate</td>
          <td class="modal-product_td-2">20g</td>
        </tr>
        <tr class="modal-product_tr">
          <td class="modal-product_td">Cream</td>
          <td class="modal-product_td-2">150ml</td>
        </tr>
        <tr class="modal-product_tr">
          <td class="modal-product_td">Cocoa powder</td>
          <td class="modal-product_td-2">30g</td>
        </tr>
        <tr class="modal-product_tr">
          <td class="modal-product_td">Sugar</td>
          <td class="modal-product_td-2">40g</td>
        </tr>
        <tr>
          <td class="modal-product_td">Vanilla sugar</td>
          <td class="modal-product_td-2">10g</td>
        </tr>
      </tbody>
    </table>
    <form class="modal-product_conteiner">
      <label class="modal-product_label">
        <input
          class="modal-product_input"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Username must be two words separated by space."
          name="name"
          placeholder="Name"
          minlength="2"
          maxlength="25"
        />
      </label>
      <label class="modal-product_label">
        <input
          placeholder="Phone"
          class="modal-product_input"
          title="at least 9 number"
          pattern="^(.*\d){9,}"
          type="tel"
          name="phone_number"
          minlength="8"
          maxlength="9"
        />
      </label>
      <label class="modal-product_label">
        <textarea class="modal-product_area" name="text" placeholder="Comment" rows="6"></textarea>
      </label>
    </form>
    <button class="modal-product_btn" type="submit">Submit</button>
  </div>
</section>
