<section>
  <div class="container products">
    <p class="products__txt">100% natrual</p>
    <h1 class="products__title">products</h1>
    <ul class="desserts">
      <li class="desserts__item bg-icecream">
        <img src="./images/products/products-icecream1Mobile.jpg" class="desserts__img" />
        <div class="desserts__card">
          <h2 class="desserts__card-title">ice cream</h2>
          <p class="desserts__card-txt">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer
          </p>
          <button type="button" class="desserts__card-btn">X</button>
        </div>
      </li>
      <li class="desserts__item bg-coffie">
        <img src="./images/products/products-icecream1Mobile.jpg" class="desserts__img" />
        <div class="desserts__card">
          <h2 class="desserts__card-title">ice coffee</h2>
          <p class="desserts__card-txt">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <button type="button" class="desserts__card-btn">X</button>
        </div>
      </li>
      <li class="desserts__item bg-milkshakes">
        <img src="./images/products/products-icecream1Mobile.jpg" class="desserts__img" />
        <div class="desserts__card">
          <h2 class="desserts__card-title">milkshakes</h2>
          <p class="desserts__card-txt">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <button type="button" class="desserts__card-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="134"
              height="42"
              viewBox="0 0 134 42"
              fill="none"
            >
              <rect x="1" y="1" width="132" height="40" rx="9" stroke="#F8D24E" stroke-width="2" />
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
