<section>
  <div class="container products">
    <p class="products__txt">100% natrual</p>
    <h1 class="products__title">products</h1>
    <ul class="desserts">
      <li class="desserts__item bg-icecream">
        <img
          class="desserts__img"
          src="./images/products/ice-creamMobileTablet@x1.png"
          alt="many cones of icecream"
          srcset="
            ./images/products/ice-creamMobileTablet@x1.png 200w,
            ./images/products/ice-creamMobileTablet@x2.png 400w,
            ./images/products/ice-creamDesktop@x1.png      302w,
            ./images/products/ice-creamDesktop@x2.png      602w
          "
          sizes="(min-width:1200px) 302px, (min-width:768px) 200px, 100vw"
        />
        <div class="desserts__card">
          <h2 class="desserts__card-title">ice cream</h2>
          <p class="desserts__card-txt">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer
          </p>
          <button class="desserts__card-btn" type="button">
            <svg class="desserts__card-icon">
              <use href="./images/icons-svg.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="desserts__item bg-coffie">
        <img
          class="desserts__img"
          src="./images/products/ice-creamMobileTablet@x1.png"
          alt="cup of iced coffie"
          srcset="
            ./images/products/ice-coffeeMobileTablet@x1.png 200w,
            ./images/products/ice-coffeeMobileTablet@x2.png 400w,
            ./images/products/ice-coffeeDesktop@x1.png      302w,
            ./images/products/ice-coffeeDesktop@x2.png      602w
          "
          sizes="(min-width:1200px) 302px, (min-width:768px) 200px, 100vw"
        />
        <div class="desserts__card">
          <h2 class="desserts__card-title">ice coffee</h2>
          <p class="desserts__card-txt">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <button class="desserts__card-btn" type="button">
            <svg class="desserts__card-icon">
              <use href="./images/icons-svg.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="desserts__item bg-milkshakes">
        <img
          class="desserts__img"
          src="./images/products/ice-creamMobileTablet@x1.png"
          alt="plastic cup with milkshake"
          srcset="
            ./images/products/milkshakeMobileTablet@x1.png 200w,
            ./images/products/milkshakeMobileTablet@x2.png 400w,
            ./images/products/milkshakeDesktop@x1.png      302w,
            ./images/products/milkshakeDesktop@x2.png      602w
          "
          sizes="(min-width:1200px) 302px, (min-width:768px) 200px, 100vw"
        />
        <div class="desserts__card">
          <h2 class="desserts__card-title">milkshakes</h2>
          <p class="desserts__card-txt">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <button class="desserts__card-btn" type="button">
            <svg class="desserts__card-icon">
              <use href="./images/icons-svg.svg#icon-Arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
