@import '../mixin';
@import '../setup';

.container {
  margin: 0 auto;
  padding: 0 20px;
  font-family: Montserrat;
  max-width: 480px;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
.grid-container {
  display: grid;
  justify-content: center;
  // margin-top: -349px;
  gap: 16px;
  grid-template-columns: 280px;
  grid-template-rows: 412px 412px 412px;
  @include tablet {
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 100%;

    // margin-top: -299px;
  }
  @include desktop {
    grid-template-columns: 368px 368px 368px;
    grid-template-rows: 100%;
    gap: 32px;
    // margin-top: -128px;
  }
}
.item {
  border-radius: 24px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  max-width: 100%;
  background: #fcfcfc;
  text-align: left;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  @include desktop {
    padding: 40px;
  }
}
.contacts {
  max-width: 100%;
  margin: 0 auto;

  &__title {
    display: none;
  }

  &__name {
    color: #131313;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.48px;
    line-height: 120%;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    padding: 4px 22px;
    width: 100%;
    border-radius: 4px;
    background-color: #f8d24e;
    text-align: center;
  }
  &__address {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding-bottom: 24px;
    gap: 8px;
    color: #d6936d;
    font-size: 12px;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.48px;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      gap: 12px;
      margin-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__schedule {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      padding-top: 32px;
      padding-bottom: 24px;
    }
  }
  &__links {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    @include tablet {
      padding-top: 32px;
      gap: 4px;
    }
  }
  &__links a {
    text-decoration: none;
    color: inherit;
  }
  .city {
    color: #131313;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.48px;
  }
  .days {
    color: #131313;
  }
  .hours {
    color: #ababab;
    padding-bottom: 8px;
    @include desktop {
      padding-bottom: 12px;
    }
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 16px;
  align-items: center;
  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
  }
  @include desktop {
    padding-top: 60px;
  }
}
