@import '../mixin';

footer {
    min-width: 320px;
    max-width: 1200px;
    width: 100vw;
    width: 320px;
    height: 1487px;
    flex-shrink: 0;
    background: getColor('background');
    display: block;
    padding-top: 935px;
  
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
  
    @media screen and (min-width: 1200px) {
    }

    
    
  
    .footer_container__button {
      width: 196px;
      height: 42px;
      flex-shrink: 0;
      background-color: antiquewhite;
      margin-left: auto;
      margin-right: auto;
    }
    .footer_container__button:nth-child(2) {
      margin-top: 16px;
    }
  
    .footer_container__text {
      display: flex;
      width: 232px;
      height: 42px;
      flex-direction: column;
      flex-shrink: 0;
      margin-left: 22px;
      margin-top: 60px;
  
      &--motto_1 {
        color: #FCFCFC;
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  
      .footer_container__main {
        display: flex;
        width: 200px;
        height: 76px;
        flex-direction: column;
        flex-shrink: 0;
        margin-left: 20px;
        margin-top: 16px;
  
        &--motto_2 {
            color: #FCFCFC;
            font-family: Montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.36px;
            text-transform: uppercase;
        }
      }

      @media screen and (min-width: 768px) {
      }
  
    @media screen and (min-width: 1200px) {
      }

    .footer_container__line {}
  
    .footer_container__rights {}
}
  