.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 33px;
    padding-right: 32px;
  }
  @include desktop {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__icon {
    border-radius: 42px;
    background: getColor('primary');
    width: 100%;
    height: 34px;
    display: inherit;
  }
  &__svg {
    fill: getColor('background');
    padding: 6px;
    &:hover {
      fill: getColor('text');
    }
    &:focus {
      fill: getColor('text');
    }
  }
  &__hedling {
    color: getColor('text');
    font-family: Montserrat;
    width: 232px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
    @include tablet {
      font-size: 25px;
      letter-spacing: 1.04px;
      max-width: 352px;
      margin-bottom: 8px;
    }
    @include desktop {
      font-size: 30px;
      letter-spacing: 1.2px;
      margin-bottom: 14px;
    }
  }
  &__text {
    color: getColor('text');
    font-family: Montserrat;
    width: 200px;
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    @include tablet {
      font-size: 48px;
      letter-spacing: 2.88px;
      max-width: 352px;
    }
    @include desktop {
      font-size: 58px;
      letter-spacing: 3.48px;
    }
  }
  &__contacts {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 186%;

    @include tablet {
      font-size: 14px;
      letter-spacing: 0.32px;
    }
    @include desktop {
      font-size: 16px;
    }
  }
  &__text-2 {
    color: getColor('footer');
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 152%;

    @include tablet {
      font-size: 14px;
      letter-spacing: 0.28px;
      line-height: 186%;
    }
    @include desktop {
      font-size: 12px;
      letter-spacing: 0.24px;
    }
  }
  &__tel {
    color: getColor('background_address');
  }
  &__social {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-bottom: 20px;
    @include tablet {
      gap: 30px;
      margin-bottom: 40px;
    }
  }

  &__box {
    margin-right: auto;
    margin-top: 60px;
    @include tablet {
      margin-top: 40px;
    }
    @include desktop {
      margin-top: 120px;
    }
  }
  &__box2 {
    margin-top: 60px;
    margin-left: auto;
    @include tablet {
      margin-top: 101px;
    }
    @include desktop {
      margin-top: 132px;
    }
  }
  &__list {
    border-top: 1px solid getColor('border_footer');
    text-align: center;
    width: 100%;
    margin-top: 60px;
    padding-block: 12px;

    @include tablet {
      display: flex;
      justify-content: center;
      margin-top: 32px;
    }
    @include desktop {
      margin-top: 60px;
    }
  }
}
