.section--header {
    background: none;
    background-color: #84A178;
    margin: 0 auto;
}
.section--background {
    background: none;
    background-color: #84A178;
    margin: 0 auto;

    @include desktop {
    background-image: url('/src/images/header/KropkiDesktop@x1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:url('/src/images/header/KropkiDesktop@x2.png');
}
}
}
.header {
display: flex;
flex-direction: row;
text-align: center;
background-color: #84A178;
justify-content: space-between;

&__list {

    display: none;

    @include desktop {
    padding: 32px 0 13px 0;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    gap: 28px; 
}
}
&__link {
    text-decoration: none;
    color:  #FCFCFC;
     &:hover,
     &:focus {
  color: #F8D24E;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
&__icon {
    fill: #F8D24E;
    width: 40px;
    height: 37px;
    padding: 12px 0 0 20px;

    @include tablet {
        width: 48px;
        height: 44px;
        padding: 8px 0 0 12px;
    }
    @include desktop {
        width: 60px;
        height: 65px;
        padding: 8px 0 0 16px;
    }
}
&__icon2 {
    fill: #F8D24E;
    width: 23px;
    height: 19px;

    @include tablet {
        width: 27px;
        height: 22px;
    }

    @include desktop {
        width: 33px;
        height: 27px;
    }
}
}
.header2 {
    display: flex;
    justify-content: space-between;
    
    &__title {
        color: #FCFCFC;
        font-family: Seymour One;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.04px;
        text-transform: uppercase;
        padding: 0 0 32px 20px;
        text-align: left;
    
        @include desktop {
        
        font-size: 38px;
        font-weight: 400;
        }
    }
    &__list {
        display: none;

       @include tablet {
        display: flex;
        flex-direction: column;
        }
    }
    &__number {
        color: #131313;
        text-align: right;
        font-family: Montserrat;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding-right: 16px;
    }
    &__item {
        color: #FCFCFC;
        text-align: right;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-right: 16px;
    }
    &__picture {
        position: relative;
        overflow: none;
        left: 160px;
        width: 218px;
        height: 267px;
        

        @include tablet {
        width: 268px;
        height: 329px;
        left: -170px;
        }

        @include desktop {
        left: -250px;
        width: 456px;
        height: 560px;
        }
    }
    &__text {

        display: none;

        @include tablet {
        display: flex;
        flex-wrap: wrap;
        color: #FFF;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 46px 27px 0 32px;
    }
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
            padding: 111px 195px 143p 16px;
    }
    }

    &__icecream {
        display: none;

        @include tablet {
            display: flex;
          
        }
        @include desktop {
            display: flex;
           
           }
        }
&__elements {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 29px;
}
&__icon {
    display: none;
    fill: #fcfcfc;

    @include tablet {
        display: inline-flex;
       
    }
}
&--position {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
}
 .links {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-left: 20px;

    &__add {
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;

    &--border {
        padding: 11px 26px;
        border-radius: 8px;
        border: 2px solid #F8D24E;
        color: #000;

        @include desktop {
            font-size: 14px;
        }
    }
    &--underline {
        padding-top: 11px;
        color: #F8D24E;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        text-decoration: underline;

        @include desktop {
            font-size: 14px;
        }
    }
}
 }
 .toggle-btn {
    background-color: transparent;
    border: none;
    margin-top: 17px 0 0 32px;
   
   
    @include tablet {
        display: flex;
        flex-direction: row;
        align-content: end;
        margin-top: 29px;
    }
    @include desktop {
      display: none;
    }

    &__icon {
      width: 32px;
      height:32px;
      align-items :end;
      
      }
    }
    
    