$mainfont: 'Montserrat', sans-serif;
$scndfont: 'Seymour One', sans-serif;

$colors: (
  'mainfontColor': #131313,
  'greenbackground': #aec6a5,
  'yellowbackground': #efd478,
  'orangebackground': #d6936d,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 786px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
.bg-products {
  padding-top: 60px;
  font-family: $mainfont, sans-serif;
  color: getColor(mainfontColor);
  background-image: url(../images/backgrounds/backgroudMobile@x1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/backgrounds/backgroudMobile@x2.jpg);
  }
  @include tablet {
    background-image: url(../images/backgrounds/backgroundTablet@x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/backgrounds/backgroundTablet@x2.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/backgrounds/backgroudDesktop@x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/backgrounds/backgroudDesktop@x2.jpg);
    }
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;

  @include tablet {
    max-width: 768px;
  }
  @include desktop() {
    max-width: 1200px;
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__txt {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    font-size: 30px;
    font-family: $scndfont;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 140px;

    @include tablet {
      margin-bottom: 180px;
    }
    @include desktop {
      margin-bottom: 271px;
    }
  }
}

.desserts {
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin: 0 auto;
  margin-bottom: 60px;
  list-style: none;

  @include tablet {
    gap: 16px;
    flex-direction: row;
  }
  @include desktop {
    flex-direction: row;
  }

  &__item {
    position: relative;
    max-width: 280px;
    min-height: 480px;
    border-radius: 24px;

    @include mobile {
      max-width: 320px;
      min-height: 428px;
    }

    @include tablet {
      max-width: 224px;
      min-height: 428px;
    }
    @include desktop {
      max-width: 370px;
      min-height: 536px;
    }
  }
  & > .bg-icecream {
    background-color: getColor(greenbackground);
  }
  & > .bg-coffie {
    background-color: getColor(yellowbackground);
  }
  & > .bg-milkshakes {
    background-color: getColor(orangebackground);
  }

  &__card {
    padding-top: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      padding-top: 165px;
    }
  }

  &__card-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  &__card-txt {
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.76;
    letter-spacing: 0.56px;

    @include tablet {
      padding: 0 26px;
    }
    @include desktop {
      padding: 0 64px;
      font-size: 16px;
    }
  }

  &__card-btn {
    position: absolute;
    bottom: 16px;
    border: none;
    background-color: transparent;

    @include tablet {
      bottom: 12px;
    }
    @include desktop {
      bottom: 60px;
    }
  }

  &__card-icon {
    width: 40px;
    height: 16px;
  }

  .shape {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop {
      width: 302;
      height: 302;
    }
  }
  .shape::after {
    content: '';
    position: absolute;
    bottom: 11px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;

    @include desktop {
      bottom: 16px;
      width: 302;
      height: 302;
    }
  }

  .img-icecream {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%),
      #d9d9d9;
    box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
  }
  .img-icecream::after {
    background-image: url(../images/products/ice-creamMobileTablet@x1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/products/ice-creamMobileTablet@x2.png);
    }
    @media (min-width: 1200px) {
      background-image: url(../images/products/Ice-creamDesktop@x1.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(../images/products/ice-creamDesktop@x2.png);
      }
    }
  }
  .img-coffie {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%),
      #d9d9d9;
    box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
  }
  .img-coffie::after {
    background-image: url(../images/products/ice-coffeeMobileTablet@x1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/products/ice-coffeeMobileTablet@x2.png);
    }
    @media (min-width: 1200px) {
      background-image: url(../images/products/ice-coffeeDesktop@x1.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(../images/products/ice-coffeeDesktop@x2.png);
      }
    }
  }
  .img-milkshakes {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%),
      #d9d9d9;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
  }
  .img-milkshakes::after {
    background-image: url(../images/products/milkshakeMobileTablet@x1.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(../images/products/milkshakeMobileTablet@x2.png);
    }
    @media (min-width: 1200px) {
      background-image: url(../images/products/milkshakeDesktop@x1.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(../images/products/milkshakeDesktop@x2.png);
      }
    }
  }
}
